<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/static/skazka.css" />
</head>
<body>
<div class="header">
    <table border="2" ><tr><td  width="270px" align="center" height="45px" ><img src="../static/static/picture/logotip.png" height="50px" width="150px"></td>
        <td  width="270px" align="center" height="50px" >Башкы бет</td>
        <td  width="270px" align="center" height="50px" >Кызыктыруучу суроолор</td>
        <td  width="270px" align="center" height="50px" ><a href="facebook.com" ><img src="../static/static/picture/register.png" height="40px" width="50px"></a>
            <a href="facebook.com" ><img src="../static/static/picture/yutube.png" height="40px" width="50px"></a>
            <a href="facebook.com" ><img src="../static/static/picture/twitter.png" height="45px" width="55px"></a>
            <a href="facebook.com" ><img src="../static/static/picture/bk.png" height="40px" width="50px"></a></td>
        <td  width="270px" align="center" height="50px" >Биз жонундо</td></tr></table>
</div>

<div class="row">
    <div class="col-3 col-s-3 menu">
        <ul>

            <li><img src="../static/static/picture/sifry.jpg" width="290" height="110"><a href="numbers.html" ><h3>Сандар катарын туура танда</h3></a>Тездик</li>
            <li><img src="../static/static/picture/figury1.png" width="290" height="110"><h3><a href="figuras.html" >Окшош фигураларды тап</a></h3>Тездик</li>
            <li><img src="../static/static/picture/truecolor.jpg" width="290" height="110"><a href="skazka.html"><h3>Суроттогу тусторду жаз</h3></a>Туура жазуу</li>
            <li><img src="../static/static/picture/color.jpg" width="290" height="110"><a href="../static/static/Home.html" ><h3>Тусторду туура танда</h3></a>Тактык</li>
        </ul>


    </div>


</div>

<div class="footer">
    <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>



</body>

</body>
</html>