body{
    background-color:greenyellow;
}
.interface{
    width: 100%;
    height: 30px;
    background-color: lightyellow;
    color: green;

}
.interface-1{
    width: 100px;
    height: 30px;
    background-color: yellow;
    color: mediumblue;
    margin: 0px 20px;
}
.interface-2{
    width: 100px;
    height: 30px;
    display: block;
    background-color: yellow;
    color: mediumblue;
    margin: 0px 140px;
}
.interface-3{

}
.interface-4{

}
.interface-5{

}